{{users/avatar-box user=session.currentUser}}
<h2>{{user.name}}</h2>

<div class="layout-column">
  {{#paper-checkbox value=value1 onChange=(action (mut value1))}}
    Indyvidual
  {{/paper-checkbox}}

  <h2>Additional tools:</h2>
  {{#paper-checkbox value=value2 onChange=(action (mut value2))}}
    wheelchair
  {{/paper-checkbox}}

  {{#paper-checkbox value=value3 onChange=(action (mut value3))}}
    eletrical wheelchair
  {{/paper-checkbox}}


  <h2>disability:</h2>
  {{#paper-checkbox value=value4 onChange=(action (mut value4))}}
  spine injury
  {{/paper-checkbox}}

  {{#paper-checkbox value=value5 onChange=(action (mut value5))}}
    amputation
  {{/paper-checkbox}}

  {{#paper-checkbox value=value6 onChange=(action (mut value6))}}
    cerebral palsy
  {{/paper-checkbox}}

  {{#paper-button onClick=(action "saveProfile")}}Save{{/paper-button}}
</div>
