@import 'ember-paper';

body
  margin: 0
  padding: 0
  height: 100%

.align-self-start
  align-self: flex-start

.user-profile
  display: flex
  align-items: center
  flex-direction: column

.avatar-img
  border-radius: 50%

.pd-top-25
  padding-top: 25px

.mh-250
  max-height: 250px

.mh-40
  max-height: 40px

.border-white
  border: 1px solid

.d-flex
  display: flex

.profile
  .profile-card
    width: 90%
  .top
    align-items: center
  .bottom
    padding: 0px 30px 30px 30px
    align-items: left
.add-event
  position: fixed
  bottom: 20px
  right: 20px

.pd-30
  padding: 20px

.login-page
  min-height: 100vh
  min-width: 100%
  background-color: #4052b4
  justify-content: center
  align-items: center
  flex-direction: column

  h1
    margin-top: -50px
    color: white

.sign-in-button
  width: 70%
  height: 70%
  cursor: pointer
