@import 'ember-paper';

.align-self-start
  align-self: flex-start

.user-profile
  display: flex
  align-items: center
  flex-direction: column

.avatar-img
  border-radius: 50%
  // max-height: 250px

.pd-top-25
  padding-top: 25px

.mh-250
  max-height: 250px

.mh-40
  max-height: 40px

.border-white
  border: 1px solid

.d-flex
  display: flex

