{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button mini=true aria-label="Hamburger" onClick=(action 'toggleMenu')}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>StayExtreme</h2>
    <span class="flex"></span>

    {{#if session.isAuthenticated}}
      <img {{action "navigate" "profile"}} src={{session.currentUser.avatarUrl}} alt="user avatar" class="avatar-img mh-40">
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z"
    name="left"
    open=leftSideBarOpen
    lockedOpen=leftSideBarLockedOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Navigation{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#paper-item onClick=(action "navigate" "events" true)}}
        <div class="md-list-item-text">
          <p>Events</p>
        </div>
      {{/paper-item}}
    {{/paper-content}}
    {{#paper-content padding=true}}
      {{#paper-item onClick=(action "navigate" "profile" true)}}
        <div class="md-list-item-text">
          <p>Profile</p>
        </div>
      {{/paper-item}}
    {{/paper-content}}
    {{#paper-content padding=true}}
      {{#paper-item onClick=(action "signOut" null true)}}
        <div class="md-list-item-text">
          <p>Sign out</p>
        </div>
      {{/paper-item}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    {{outlet}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
